<section class="container mainpageelement mt-5 mb-5">

    <h2 class="display-4">Inspirational Quote of the Day</h2>
    <figure>
        <blockquote>
            <div class="blockquote" id="veryinspirationalquote"></div>
        </blockquote>
        <figcaption>
            <div class="blockquote-footer" id="quoteauthor"></div>
        </figcaption>
    </figure>
</section>

<section class=" container     mt-5 mb-5">
    <div class=" d-flex flex-column flex-sm-row justify-content-center align-items-center   iconoverview">
        <div class=" me-3 mb-3  justify-content-center align-items-center ">
            <a href="/todo">
                <i class="box gradient-custom    rounded-circle z-depth-2 bg-secondary fa-solid fa-list-check "
                    data-holder-rendered="true"></i>
            </a>
        </div>
        <div class="me-3 mb-3 justify-content-center">
            <a href="/journal">
                <i
                    class="box gradient-custom  align-items-center rounded-circle z-depth-2 bg-secondary fa-solid fa-feather-pointed "></i>
            </a>
        </div>
    </div>
</section>